(tls) {
    tls /www/tls/kit.dev.pem /www/tls/kit.dev.key
}

(php74) {
    @xdebugquery {
        query xdebug=1
    }

    @xdebugcookie {
        header_regexp xdebug Cookie xdebug
    }
    
    file_server
    php_fastcgi @xdebugquery phpfpm-xdebug:9000
    php_fastcgi @xdebugcookie phpfpm-xdebug:9000
    php_fastcgi phpfpm:9000
}

:80 {
    root * /www
    file_server
}

import Caddysites